html, body {
    font-family: 'Montserrat Alternates', sans-serif;
}
.btn-group {
    width: 100%;
}
.btn-group button {
    width: 33.3%;
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e8e41;
}

/* selected button/active button on home page */
.btn-group .btn-selected {
    background-color: #3e8e41;
}

ul {
    list-style: none;
}

#movieList img, #myMovieList img {
    width: 240px;
    height: 320px;
    transition: .5s ease;
}

#search-results img {
    width: 240px;
    height: 320px;
    transition: .5s ease;
}

figure:hover .image {
    opacity: 0.3;
}

figure:hover .imageInfo {
    opacity: 1;
}

figure {
    position: relative;
    width: fit-content;
    overflow: hidden;
}


figure .imageInfo {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    margin: 5px;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

figure .add-movie-button {
    position: absolute;
    bottom: 0;
    left: 1%;
    right: 1%;
    width: 98%;
    display: inline-block;
    padding:0.46em 1.6em;
    border:0.1em solid #000000;
    margin:0 0.2em 0.2em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#000000;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    background-color:#FFFFFF;
    text-align:center;
    transition: all 0.15s;
    background-color: #42cc8c;
}

figure .add-movie-button:hover {
    text-shadow: 0 0 2em rgba(255,255,255,1);
    color:#FFFFFF;
    border-color:#FFFFFF;
}

.homePageMovieList, #myMovieList {
    display: flex;
    flex-wrap: wrap;
}

.homePageMovieList li, #myMovieList li {
    margin: 1%;
}

.navigation-module {
    width: 100%;
    display: flex;
    background-color: white;
    place-content: center;
}

.left-side-module {
    width: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 160px;
    margin-right: 160px;
}

.navbar-nav {
    margin: auto;
}

.navigation-list {
    display: flex;
    margin: 5px;

}

.nav-item {
    margin-left: 20px;

}
.nav-item a {
    color: #4c4c4c;
    letter-spacing: -1px;
    font-weight: 500;
    font-size: 13px;
    transition: all .3s ease;
    text-transform: uppercase;
    text-decoration: none;
}

.nav-item a:hover {
    color: #745cf9;
    font-weight: 600;
}

.welcome-text {
    width: 200px;
    margin-top: 20px;
    margin-left: 0px;
}

.container {
    padding: 0;
}

.movie-container, .listOfMovies {
    margin-left: 10px;
    margin-right: 10px;
    padding: 50px;
}

#myMovieList, .homePageMovieList {
    padding-left: 0;
}

.message-for-user {
    text-align: center;
    margin-bottom: 50px;
    text-shadow: 0 0 black;
}

@media (min-width: 500px) {
    .container {
        max-width: 100%;
    }
}