<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../styles/home.css">
    <script src="../scripts/HelperFunctions.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:300,400,500,600" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Search for a movie</title>
</head>
<body>
<header class="navigation-module">
    <div class="left-side-module">
        <h1 id="headline">Life Of Movies</h1>
    </div>
    <div class="welcome-text">
        <p id="welcomeUser"></p>
    </div>
    <div class="navbar-nav">
        <ul class="navigation-list">
            <li class="nav-item">
                <a href="../view/HomePage.html">HOME</a>
            </li>
            <li class="nav-item">
                <a href="../view/SearchPage.html">FIND A MOVIE</a>
            </li>
            <li class="nav-item">
                <a href="../view/UserMoviesPage.html">MY MOVIES</a>
            </li>
            <li class="nav-item">
                <a href="../view/loginRegisterPage.html" id="loginNavigation">LOGIN/REGISTER</a>
            </li>
        </ul>
    </div>
</header>
<div class="container">
    <div class="search-box">
        <label for="search">Search for a movie: </label><br><br>
        <input type="text" id="search" placeholder="Search" required>
        <label for="year">Year: </label>
        <input type="number" id="year" max="9999" min="0">
        <input onclick="searchMovie()" type="submit" value="Search">
        <div id="search-results"></div>
    </div>
</div>
</body>
<script>
  let div = document.getElementById("search-results");

  // Function that send a http-request to the server and tries to find a movie with the users inputs.
  function searchMovie() {
    let movieName = document.getElementById('search').value;
    let movieYear = document.getElementById('year').value;
    console.log('Year value: ' + movieYear + "\nName: " + movieName);

    let xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
      if (xhr.readyState == 4 && xhr.status == 200) {
        var json = xhr.responseText;
        console.log(json);
        if (json.length > 0) {
          showSearchResults(json);
          document.getElementById("search").value = "";
          document.getElementById("year").value = "";
        } else {
          div.innerHTML = 'No movies found!';
        }

      } else if (xhr.status == 404) {
        div.innerHTML = 'Something went wrong!';
      }
    };

    let uri = "http://localhost:8080/search?name=" + movieName + "&year=" + movieYear;
    console.log("URI: " + uri);

    xhr.open('GET', uri, true);
    xhr.send();
  }


  //
  let cacheMovieData = null;

  // This function shows the results of users input. Currently only shows 1 search result per successful search.
  function showSearchResults(json) {
    while(div.hasChildNodes()) {
      div.removeChild(div.firstChild);
    }
    let parsedJson = JSON.parse(json);
    cacheMovieData = parsedJson;

    // If response field has false then it means there are no search results.
    if(parsedJson.Response.includes("False"))  {
      let para = document.createElement("p");
      para.innerHTML = "No movies were found! Try to find something else instead.";
      div.appendChild(para);
    }
    else {

      // Create unordered list and parse json data.
      let ul = document.createElement('ul');


      // Create list item and figure
      let li = document.createElement('li');
      let figure = document.createElement("figure");

      // Create img/image text and add their values
      let img = document.createElement('img');

      // If a movies was found, but it has only couple informations about the movie and it doesn't have a poster -> we use a default one.
      if(parsedJson.Poster.includes("N/A")) {
        img.src = "../images/no-image-available-icon-10.jpg";
      }
      else {
        img.src = parsedJson.Poster;
      }
      img.alt = parsedJson.Title;
      img.className = "image";

      // Create movie information
      let movieInfo = document.createElement("div");
      movieInfo.innerHTML = jsonToMovieInfoString(parsedJson);
      movieInfo.className = "imageInfo";

      // Create a button for adding to "My movies"
      let button = document.createElement("button");
      button.className = "add-movie-button";
      button.innerHTML = "I've seen this!";
      button.addEventListener('click', e => {
        saveToUserDatabaseSearch(parsedJson);
      });

      let buttonDb = document.createElement("button");
      buttonDb.className = "addToDatabaseButton";
      buttonDb.innerHTML = "Add to database";
      buttonDb.addEventListener("click", addMovieToDatabase);


      // Add all to their parent nodes
      figure.appendChild(img);
      figure.appendChild(movieInfo);
      figure.appendChild(button);
      figure.appendChild(buttonDb);
      li.appendChild(figure);
      ul.appendChild(li);

      div.appendChild(ul);

    }
  }


  // Function that adds a movie to the database (used by author)
  function addMovieToDatabase() {
    if(cacheMovieData != null) {
      let movieData = JSON.stringify(cacheMovieData);
      console.log("movie data: " + movieData);
      let xhr = new XMLHttpRequest();
      xhr.onreadystatechange = function() {
        if (xhr.readyState == 4 && xhr.status == 200) {
          var response = xhr.responseText;
          console.log(response);
          alert(response);
        }
      };

      let uri = "http://localhost:8080/saveDataToDb"

      xhr.open('POST', uri, true);
      xhr.setRequestHeader("Content-Type", "application/json");
      xhr.send(movieData);
    }
    else {
      console.log("There is no point to save nothing.")
    }
  }
</script>
<script src="../scripts/userDetectScript.js"></script>
<script src="../scripts/addUserMovie.js"></script>
</html>